html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	body{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}
	.container{
		width: 990px;
		margin: 0 auto;
		margin-top: 100px;
		   animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
	}
.left{
	float: left;
	text-align: center;
	width: 335px;
}
.left img{
	width: 225px;
}
.left span{
    display: inline-block;
    width: 100%;
    font-size: 9px;
    position: relative;
    top: -5px;
    left: 3px;
}
.right{
    float: left;
    width: 565px;
    padding-left: 89px;
    border-left: 1px solid #555;
    text-align: left;
    text-align: left;
}
.right h1{
	color: #2c2c2c;
	text-align: left;
	font-weight: 100;
	line-height: 30px;
	font-size: 28px;
}
.right .images{
    margin-top: 45px;
}
.right .info{
    margin-top: 40px;
}
.right .info ul{
	list-style: none;
	color: #656565;
}
.right .info li{
    padding-bottom: 7px;
}
.right .info li span{
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    position: relative;
    top: 4px;
    opacity: 0.6;
}
.right .info li p{
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    line-height: 1.2;
}
.right .info a{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	color: #656565;
	text-decoration: none;
}

.bw{
	width: 85px;
	height: 58px;
	display: block;
	position: relative;
	display: inline-block;
	margin-right: 22px;
	cursor: pointer;
}
.bw img{
	position: absolute;
	left: 0;
	top: 0;
}
.bw .black{
	z-index: 2;
	opacity: 1;
	transition: .3s;
	background: white;
}
.bw:hover .black{
	opacity: 0;
}
.bw .color{
	/* display: none; */
}
.bw:hover .color{
	/*display: block;*/
}
.phone-logo{
	background: url(../img/phone_icon.svg);
	/* background-size: contain; */
}
.right .info li span.map-logo{
	background: url(../img/map_icon.svg) center center no-repeat;
	top: 2px;
}


@keyframes fadein {
    0% { opacity: 0; }
    70%  {opacity: 0;}
    100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    70%  {opacity: 0;}
    100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    70%  {opacity: 0;}
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    70%  {opacity: 0;}
    100%   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; }
    70%  {opacity: 0;}
    100%   { opacity: 1; }
}
.psd{
	    position: absolute;
    z-index: 9;
    left: 100px;
    top: -35px;
    opacity: .3;
    border: 1px solid red;
    margin: 0 auto;
    display: none;
    /*display: block;*/
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */