@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "rouble";
    src: url("../fonts/rouble/rouble.otf");
    src: url('../fonts/rouble/rouble-webfont.eot');
    src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rouble/rouble-webfont.woff2') format('woff2'),
    url('../fonts/rouble/rouble-webfont.woff') format('woff'),
    url('../fonts/rouble/rouble-webfont.ttf') format('truetype'),
    url('../fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "apple";
    src: url("../fonts/apple/apple.otf");
    src: url('../fonts/apple/apple.eot');
    src: url('../fonts/apple/apple.eot?#iefix') format('embedded-opentype'),
    /*url('../fonts/apple/apple.woff2') format('woff2'),*/
    /*url('../fonts/apple/apple.woff') format('woff'),*/
    url('../fonts/apple/apple.ttf') format('truetype'),
    url('../fonts/apple/apple.svg#als_rublregular') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "apple";
    src: url("../fonts/apple/apple.otf");
    src: url('../fonts/apple/apple.eot');
    src: url('../fonts/apple/apple.eot?#iefix') format('embedded-opentype'),
/*    url('../fonts/apple/apple.woff2') format('woff2'),
    url('../fonts/apple/apple.woff') format('woff'),*/
    url('../fonts/apple/apple.ttf') format('truetype'),
    url('../fonts/apple/apple.svg#als_rublregular') format('svg');
    font-style: normal;
    font-weight: bold;
}
html,
body {
    font-family: "OpenSansRegular";
}


.modal-header {border: none;}
.vid-block .carousel-indicators{
    display: none;
}
.href{
    color: #c79c6e;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}
.slider-horizontal {
    width: 98%!important;
}
.upblock{
    position: absolute;left: 40px;
    bottom: 20px;
    color: #2b2013;
    font-weight: bold;
}
.upblock1{
    position: absolute;left: 40px;
    bottom: 20px;
    color: #fff;
    font-weight: bold;
}
.calc-it label{
    font-weight: bold;
}

.calc-it label span{
    color:#808080;
}
.calc-it b{
    font-size: 16px;
}
.leftB{    
    padding: 55px 0 0 70px;
    z-index: 2;
    background: #fff;
    position: absolute;
    top: -56px;
    /*right: 400px;*/
    right: 389px;
    width: 400px;
    
    height: 472px;
    display: none;
}
.ymaps-b-balloon__content ymaps{
    height: 270px!important;
    width:100%!important;
}
.ymaps-copyrights-pane, ymaps iframe{
    display: none!important;
}
.ymaps-shadows-pane{
    display: none;
}
/*.ymaps-b-balloon__content{
    background: grey!important;
}*/
.ymaps-image-with-content{
    background-size: 100% auto!important;
    width:70px!important;
    height: 50px!important;
}
.ymaps-b-balloon.ymaps-i-custom-scroll{
    background: url("/img/map_baloon.png");
    
}
ymaps .obj_i_block{

    font-family: "apple";
    font-size: 12px!important;
}
ymaps.ymaps-b-balloon__content {
         background: transparent; 
         border: none;
}
.ymaps-b-balloon__bl,.ymaps-b-balloon__br,.ymaps-b-balloon__tl,.ymaps-b-balloon__tr{
    display: none!important;
}
.sdsl input{
    
}
.vrotebal{width: 40px;position: absolute;height: 15px;background: transparent;left: 0;    top: 2px;}
ymaps .stary,ymaps .obj_i_block { position: static;}
ymaps .stars { width: 73px;float: left; margin-left: -3px; padding-top: 7px; margin-right: 10px;}
ymaps .obj_sdacha{ text-align: left;padding: 5px 0; margin-top: 0px;float: left;}
ymaps .obj_name { line-height: 25px;font-size: 22px;}
.ymaps-b-balloon{ width:344px!important; }
ymaps .obj_opis {padding-top: 0;height: auto;clear: both;}
ymaps .obj_price { padding: 6px 0;}
ymaps .obj_bot { padding: 6px 0;    margin-top: 0px!important;}
ymaps .obj_bot div{ width: 100%!important; } 
ymaps .gold-but{ height: 25px; width: 153px; margin-top: 12px!important;} 
.ymaps-b-balloon__content-body{padding:10px;}
ymaps .obj_raion {display: none; /*line-height: 17px; font-size: 17px;*/}
ymaps .ob.row div{width: 30%;}
.ymaps-b-balloon__close{background-size: cover; background-position: 0 0!important; /*top: 7px!important;right: 0!important;*/}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.page-link{
    color: #000!important;
    cursor: pointer;
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    background-color: transparent!important;
}
.pagination > li > a:hover{border-color: #888;}
.fp a{
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.lp a{
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.page-link.pr{
    border-radius: 3px;
    margin-right: 13px;
}
.page-link.ne{
    border-radius: 3px;
    margin-left: 13px;
}
.page-link.active{background: #ffebae!important;}
body{
    margin: auto;
    position: relative;
    /*max-width: 1510px;*/
}
.wrap > .container {
    padding: 600px 15px 20px;
    overflow: hidden;
}
.header {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 164px;
    padding-top: 24px;
    text-align: right;
}
.phone{
    display: block;
    font-size: 20px;
    color: #393837!important;
    border-bottom: 0!important;
    display: none;
}
.cp{display: block;}
.call_me{
    cursor: pointer;
    font-size: 20px;
    color: #c79c6e;
    border-bottom : 1px #c79c6e dashed;
}
.footer {
    background-color: #363534;
    color: #fff;
    /*border-top: 1px solid #ddd;*/
    padding: 20px;
} 
.chtext{
    line-height: 16px;
    font-size: 14px;
    color: #000;
}
/* Tooltip text */



/*---------------*/

.carousel-caption h2{
    font-size: 60px;font-weight: lighter;
}.carousel-caption p{font-size: 20px;}
.carousel-caption{/*max-height: 300px;*/
padding-left: 30px;padding-right: 30px; }
.slup{width: 100%;display: block;position: relative;}
.slup i{
    cursor: pointer; top:0;position: absolute;
    right: 0; display: block;background: url("../img/unslide.jpg") no-repeat;
    background-position: center right; width: 100%;height: 20px;
}
.slup i.active{background: url("../img/slide.jpg") no-repeat;background-position: center right;}
.slider-c,.slider-c1{
    margin: 10px 10px 25px;
}
.slider-handle {
    /*width:15px;
    height:15px;*/
}
.href{

}

.href:hover{
    color:#997650;
}
#map{
    width: 100%;
    height: 1200px;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
}
#map:after{
    content: '';    
    display: block;
    width: 100%;
    height: 30px;
    background: #fff;
}
.carousel-indicators li {
    background: #fff;
    /*border:1px #c79c6e solid;*/
}
.carousel-indicators li:hover {
/*    width: 11px;
    height: 11px;*/
    border:1px #a3845f solid;
}
.carousel-indicators li.active {
    background: #c79c6e;
    border:3px #fff solid;
}
.vid-block{
    height: 530px;
}
.func{
    cursor: pointer;
}
b{
    color: black;
}
/*.vid-block .carousel-inner > .item > img, .vid-block .carousel-inner > .item > a > img {

    float: left;
    width: 33%;
}*/
.vid-block .carousel-inner{
    max-width:1218px;
    margin: auto; 
}
.slider-c, .slider-c1{
    position: relative;
}
/*.obj_price .to{
    padding-left: 43px;
}*/
.calc-it .tooltip.tooltip-min{
    position: absolute;
    margin-left: -13px!important;
    left: 0!important;
    top:56px;
}
.calc-it .tooltip.tooltip-max{
    position: absolute;
    left: 82%!important;
    top:56px;
}
.metrl .tooltip.tooltip-max{
    left: 87%!important;
}
.metrl .tooltip.tooltip-max:after,.metrl .tooltip.tooltip-min:after{
    content: 'м';    
    position: absolute;
    top: 8px;
    right: -3px;
}
.metrl .tooltip.tooltip-max :after,.metrl .tooltip.tooltip-min :after{
    content: '2';
    position: absolute;
    top: -1px;
    right: -11px;
    font-size: 11px;
}
.calc-it .tooltip-max .tooltip-inner{
    /*margin-left: -30px;*/
    text-align: right;
}
.calc-it .tooltip-min .tooltip-inner{
    /*margin-left: 30px;*/
    text-align: left;
}
.calc-it .tooltip-max .tooltip-inner:before{
    content: "до ";
}
.calc-it .tooltip-min .tooltip-inner:before{
    content: "от ";
}
.calc-it .tooltip{
    z-index: 0;
}
.pricel .tooltip-min .tooltip-inner:after, .pricel .tooltip-max .tooltip-inner:after, 
.pricelm .tooltip-min .tooltip-inner:after, .pricelm .tooltip-max .tooltip-inner:after{
    content: "i";
    font-family: "rouble";
}

.metrl .tooltip-min .tooltip-inner, .metrl .tooltip-max .tooltip-inner{
    position: relative;
}
.calc-it .tooltip.top .tooltip-arrow {
    display: none;
}
.calc-it .tooltip-inner {
     color: #000; 
     background-color: #fff; 
}

.vid-block{}
.slider-track-high,.slider-track-low{
    border: 1px #b7b7b7 solid;
}
.btn-group{
    margin-left:20px;
}
.btn-group label{

    padding: 4px 12px!important;
    /*height: 72px!important;*/
}
.btn-group label.active{
    box-shadow: none!important;
    color: #adadad!important;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
    z-index: 4;
}
/**/
.gold-but {  
  display: flex;
  margin: auto;  
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgb(199, 156, 110);
  /*box-shadow: 0px 2px 0px 0px rgba(116, 92, 66, 0.004);*/
  box-shadow: 0px 2px 0px 0px rgba(121, 100, 76, 0.48);
  width: 230px;
  height: 40px;
  cursor: pointer;
  color: white;
}
.gold-but:hover{
  color: white;
  text-decoration: none;
  background-color: #997650;
} 
.gold-but:active {
  background-color: rgb(153, 118, 80);
  box-shadow: 0px -2px 0px 0px rgba(116, 92, 66, 0.004);
}
.carousel-control .glyphicon{
    width: 100px!important;
    height: 100px!important;
    margin-top: -30px!important;
    background: url("../img/r.png");
    display: block;
}
.carousel-control .glyphicon-chevron-right{
    background: url("../img/r.png");
}
.glyphicon-chevron-right:before, .glyphicon-chevron-left:before {display: none;}
.carousel-control .glyphicon-chevron-left{
    transform: rotate(180deg);
}
.list-group-item.oi{
    display: none;
}
.stary{
    z-index: 200000;
    text-align: center;
	position: absolute;
	top: 10px;
	right: 15px;
}
 .stary .tooltip-inner::before, .stary .tooltip.top .tooltip-arrow{
    /*border-top-color: #e6e6e6 ;*/
    display: none;
}
/*.stary .tooltip-inner::before{
    display: block;
    position: absolute;
    content: url("../img/tooltip.png");
}*/
 .stary .tooltip-inner::before ,.stary .tooltip-arrow,.stary .tooltip > .tooltip-inner {
    width: 124px;
    height: 54px;
    z-index: 99999;
    background-color: #fff;background: url("../img/tooltip.png");
    color:#000;font-weight: bold;border:none;opacity: 1;}
.stars{
    height: 12px;
}
.stars i,.stars b{
	display: block;
	width: 12px;
	height: 12px;
	margin: 1px;
	float: right;
}
.stars i{
	background: url("../img/star.png");
}
.stars b{
	background: url("../img/starG.png");
}
.obj_block{
        font-family: "apple";
}
.obj_raion{
    padding-left: 37px;
    line-height: 40px;
    font-weight: bold;
    color: #333;
}
.obj_raion:before{
    position: absolute;
    left: 17px;
    content: url("../img/map.png");
}
.obj_sdacha{
	padding: 0 5px;
	font-size: 15px;
	margin-top: 15px;
	color:#727272;
	/*border: 1px #727272 solid;*/
}
.obj_calci{
/*	width: 150px;
	height: 90px;*/
	color:#727272;
	font-size: 14px;
}
.obj_calci ul{padding-left: 0;}
.obj_price{
    padding: 10px 0;
    /*color: #333;*/
    
    color: #727272;
	font-size: 16px;
}
.obj_price .to:after,.obj_price .from:after{
        content: "i";
    font-family: "rouble";
}
.obj_img{
    width: 100%;
    /*height:296px;*/
}
.obj_info{
    width: 450px;
    padding-right: 10px;
}
.obj_i_block{
    position: relative;
    bottom: -20px;
    z-index: 22;
}
.obj_name{
    height: 25px;
    cursor: pointer;
    position: relative;
    z-index: 20;
    color: #001595;
    font-size: 24px;
    display: block;
    width: 80%;
    line-height: 65px;
}
.obj_name:hover{
    color: #d81f26;
}
.obj_opis{  
    height: 100px;
    font-weight: bold;
    padding-top: 18px;
}

h1{
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    color: #454543;
}
.main h1{    margin-top: 32px; margin-bottom: 48px;}
.main h2{    text-align: center;margin-bottom: 24px;position: relative; top: -20px;}
.container{
    width: 1120px!important; 
}
@media (max-width: 1120px){
    .container{
        width: 100%!important; 
    }          
}
.tools{
    width: 317px;
}
/*  */
.head-carousel{
    position: absolute;
    width:100%;
    top: 0;
    right: 0;
    height: 571px;
    width: 100%; 
}
.carousel-caption{
    background: rgba(24, 24, 24, 0.81);
    bottom: 22%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.vid-block{
    position:relative;
    width:100%;
    background: #1a1a1a;
}
.play{
    width: 58px;
    height: 58px;
    left: 42%;
    top:42%;
    position: absolute;
    background: url("../img/play.png") no-repeat;
    background-size: contain;
}
.vid-hover{
    position: absolute;
    top: 0;
}
.vid-cont{
    width: 4000%;
    position: relative;
    height: 360px;
}
.vid-car .left, .vid-car .right{
    z-index: 5;
}
.vid-car{
    padding-top: 52px;
    overflow: hidden;
    margin:auto;
    width: 86%;
    margin-left: 8%;
}
.vid-cont .magick{ 
    opacity: 0.2;
    transition: transform .5s linear, opacity .5s linear;
    transform: scale(1);
    width: 370px;
    display: inline-block;
    
    /*margin:0 30px;*/
    cursor: pointer;
}
.magick img{
width: 365px;
}
.magick.swiper-slide-active{
    position: relative;
    z-index: 3;
    transform: scale(1.2);
    opacity: 0.79;
}
.search_num{ position: absolute; top: -23px; left: 78%; height: 0px;}
@media (min-width: 1024px) {
    .nomob{width: 300px;height: 50px;margin-top:0;}
}
@media (max-width: 1124px) {
	.vid-car{    width: 100%!important;margin-left:0!important;}
	.vid-mocentr{

	}
}
@media (max-width: 1100px) {
    .search_num{ left: 15px;}
}
@media (max-width: 992px) {
    .search_num{ position:static;}
}
@media (max-width: 960px) {
	#modal-content input,#modal-content textarea{width:98%!important;}
	#modal-content .gold-but{ width: 61%!important;}
	#modal-content div, .modal-dialog.modal-md{width: auto!important;}
	h1{font-size: 32px;}
	.carousel-control .glyphicon {
	    width: 80px!important;
	    height: 80px!important;
	    background-size: cover;
	}
	.carousel-control {width: 8%;}
    .carousel-caption{padding-bottom: 60px;}
	.logo-booty{width: 100%!important;}
    .torbosov,.notorbosov, .torbosovagain{width: 100%!important;}
    .mtor{position: relative;}
    .obj_opis{height: auto;}
    .this_to_map{ padding-bottom: 20px;}
    .obj_bot{margin-top: 0!important;}
    .carousel-caption{
    	bottom: 0;
    	width: 100%;
    	left: 0;
   	}
   	.carousel-caption h2{font-size: 5vw;}
   	.carousel-caption p{font-size: 3vw;}
}
@media (max-width: 660px) {
    .list_map.tab-content{min-height: 42vh!important;}
    .torbosov{background-position: center!important;}

   	.carousel-caption h2{font-size: 30px;padding:0 10px;}
   	.carousel-caption p{font-size: 16px;padding:0 10px;}
    .apple-fix{    font-size: 19px!important; text-align: center;}
}
@media (min-width: 768px){

    .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
}
body{
    /*box-shadow: 0 -1px 0 rgba(0, 0, 0, 0),0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);*/

}
.raion-cal label,.sdacha-cal label{
    position: relative;
    margin-left: 20px;
}
@media (max-width:800px){
    #map{height: 70vh!important;}
    .obj_raion{ color: #727272; font-size: 14px; line-height: 40px;}
    .obj_name{ font-size: 20px;}
    .row.ob{margin-bottom: 10px;}
    .logo{ width: 44%; }

    .header {
        background: white!important;
        height: 85px;
    }
}
@media (max-width: 1580px){
    .item div{background-size: auto 100%!important;}
}

@media (max-width:900px){
    .vid-cont{left: -200px;}
}
@media (max-width:800px){
    .vid-cont{left: -270px;}
}
@media (max-width:700px){
    .vid-cont{left: -330px;}
}
@media (max-width:600px){

    .phone{display: block;}
    .cp{display: none;}

    .modal { top: 50px;}
    #modal-content iframe{height: 225px;}
    .vid-cont{left: -380px;}
}
@media (max-width:500px){
    .ymaps-b-balloon {
        width: 318px!important;
    }

    .obj_name {font-size: 18px; }
    .vid-cont{left: -406px;}
}
@media (max-width:400px){
    .upblock { left: 0; padding: 1px 20px;}
    .list_map.tab-content{min-height: 37vh!important;}

    .magick img {
        width: 83vw;
        margin-left: 49px;
    }
    .vid-cont{left: -481px;}
}
    
@media (max-width:360px){
    .list_map.tab-content{min-height: 32vh!important;}
}
@media (max-width:340px){
    .obj_raion { padding-left: 32px;}
}
@media (max-width:340px){
    .torbosovagain .form-control, .torbosovagain .gold-but { float: none!important; margin: 18px auto!important;}
    .torbosovagain div{width:100%;}
    .obj_raion { padding-left: 15px;}
    .obj_raion:before{display: none;}
}
@media (min-width: 1300px){
    .vid-car .left, .vid-car .right { background: #1a1a1a; opacity: 1; }
    .vid-car { margin: auto !important; width: 1300px !important;}
    .vid-cont { left: 0; }
}
@media (min-width: 2266px){

